body
{
    background-color: #F8F8F8;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: 1400px;
    background-size: 1400px;
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

h1.title {
	display: inline-block;
	color: #00A2FF;
	font-size: 60px;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	font-weight: 100;
	margin: 0px;
	line-height: 66px;
}

h2.subtitle {
	margin: 0px;
	display: inline-block;
	color: #00A2FF;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}


h2.project-title {
	vertical-align: top;
	display: inline;
	color: #00A2FF;
	font-size: 25px;
	font-family: 'Poiret One', cursive;
	font-weight: 500;
	letter-spacing: 0px;
	text-transform: uppercase;
}

.project-text {
	display: inline-block;
	padding: 5px;
	padding-top: 0px;
	vertical-align: top;
}

.project-link {
	text-decoration: none;
	color: #7DBBD5;
}

.project-link:hover {
	text-decoration: none;
	color: #00A2FF;
}

.project-description {
	display: inline-block;
	color: #00A2FF;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.row {
	margin: 0px;
}

.separator {
	border-top: 1px dotted #00A2FF;
	margin-top: 20px;
	padding-top: 20px;
	margin-left: -40px;
	display: none;
}

.separator2 {
	border-top: 1px dotted #00A2FF;
	margin-top: 152px;
	padding-top: 20px;
	margin-left: 1px;
	display: none;
}

.img-logo {
	width: 60px;
	display: inline-block;
	line-height: 0px;
}

.col-md-4 {
	padding: 0px;
}

.col-md-1 {
	padding: 0px;
}

.header {
	position: relative;
}

.logo-reflected {
	margin-top: 93px;
	width: 90px;
	margin-right: 0px;
	display: none;
}

.logo-reflected-small {
	position: absolute;
	width: 45px;
	top: 78px;
	left: 25px;
}

.projects {
	margin-top: 50px;
}

.half {
	float: left;
	border: 1px dotted #00A2FF;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 10px;
	height: 224px;
	border-left: 0px;
}

.half-left {
	text-align: right;
	padding-left: 0px;
	/*margin-right: 5px;*/
}

.half-right {
	border-left: 0px;
	border-right: 0px;
	padding-right: 0px;
}

.img-half {
	width: 200px;
}

.quarter {
	border: 1px dotted #00A2FF;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 10px;
	height: 150px;
	border-left: 0px;
	position: relative;
}

.quarter-left {
	text-align: right;
	/*margin-right: 5px;*/
}

.quarter-right {
}

.img-quarter-left {
	width: 148px;
	position: absolute;
	top: 0;
	left: 0;
}

.img-quarter-right {
	width: 148px;
	position: absolute;
	top: 0;
	right: 0;
}

.facebook-profile {
	margin-right: 200px;
}

.glyphicon {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 20px;
	color: #00A2FF;
}

.glyphicon:hover {
	color: #0076BA;
}

.social {
	margin-top: 15px;
}

.copyright {
	margin-top: 20px;
	padding: 10px;
	border-top: 1px dotted #00A2FF;
}

.copyright-link {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: #00A2FF;
}

.copyright-link:hover {
	text-decoration: none;
}

.screenshot {
	width: 200px;
}

.screenshot:hover {
	filter: brightness(120%);
	-webkit-filter: brightness(120%);
}

.project {
	margin: 30px;
}

.download {
	margin: 15px;
}

.download-button {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	color: #00A2FF;
	/*width: 50px;*/
}

.download-button:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	h1.title {
		font-size: 50px;
		line-height: 45px;
	}
	
	body {
		-webkit-background-size: 550px;
		background-size: 550px;
	}

	h2.subtitle {
		font-size: 18px;
	}

	h2.project-title {
		font-size: 22px;
	}

	.project-description {
		font-size: 13px;
	}

	.img-half {
		width: 170px;
	}
	
	.img-half:hover {
		filter: brightness(120%);
		-webkit-filter: brightness(120%);
	}

	.half {
		margin: 0px;
		margin-bottom: 10px;
		height: 190px;
	}

	.quarter {
		height: 130px;
	}

	.img-quarter-left {
		width: 85px;
	}

	.img-quarter-left:hover {
		filter: brightness(120%);
		-webkit-filter: brightness(120%);
	}

	.img-quarter-right {
		width: 85px;
	}

	.img-quarter-right:hover {
		filter: brightness(120%);
		-webkit-filter: brightness(120%);
	}

	.separator {
		margin-top: 15px;
		padding-top: 15px;
	}

	.separator2 {
		margin-top: 9px;
	}

}